#view {
    display: flex;
    flex-direction: row;
    margin: 0;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    overflow: hidden;
    position: fixed;
}

#plotter {
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
}

#input {
    display: flex;
    flex-direction: column;
    background: transparent;
    left: 0;
    top: 0;
}

.btn {
    border: none;
    outline: none;
    height: 30px;
    background-color: rgb(53, 55, 59);
    color: rgb(153, 154, 157);
    cursor: pointer;
    font-family: Roboto, sans-serif;
    border-radius: 6px;
}

.btn:hover {
    background-color: rgb(68, 70, 74);
    color: rgb(255, 255, 255);
}

.btn.active {
    background-color: rgb(78, 80, 84);
    color: rgb(255, 255, 255);
}

#inputOutput {
    display: flex;
    flex-direction: column;
    background: rgb(53, 55, 59);
    width: 180px;
    min-width: 180px;
    min-height: 400px;
    padding-left: 6px;
    padding-right: 6px;
}

.param {
    display: flex;
    flex-direction: column;
}

body {
    background: #404758;
    margin: 0;
}

.headL {
    color: #72767d;
    font-family: Consolas, Liberation Mono, Menlo, Courier, monospace;
    /*font-family: Roboto, sans-serif;*/
    font-size: 85%;
    height: auto;
    margin: -.2em 0;
    padding: .2em;
    text-indent: 0;
    width: auto;
    padding-top: 10px;
}

input {
    background: transparent;
    border: transparent;
    width: 71px;
    margin-right: auto;
    color: rgb(153, 154, 157);
    outline: none;
    text-align: right
}

.txtField {
    border: none;
    outline: none;
    padding: 12px 16px;
    background-color: rgb(53, 55, 59);
    color: rgb(153, 154, 157);
    font-family: Roboto, sans-serif;
    font-size: 13px;
    padding-top: 5px;
    padding-bottom: 0;
    position: relative;
}

.rightDescr {
    position: absolute;
    display: inline;
    right: 0;
}

